# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated build output
/build/

# generated native folders
/ios/*
/android

# SwiftUI native branch entry points
!/ios/.gitignore
!/ios/Podfile
!/ios/Podfile.lock
!/ios/Podfile.properties.json
!/ios/FlickClean.xcworkspace/
!/ios/FlickClean.xcworkspace/contents.xcworkspacedata
!/ios/FlickClean.xcodeproj/
!/ios/FlickClean.xcodeproj/project.pbxproj
!/ios/FlickClean.xcodeproj/xcshareddata/
!/ios/FlickClean.xcodeproj/xcshareddata/xcschemes/
!/ios/FlickClean.xcodeproj/xcshareddata/xcschemes/FlickClean.xcscheme
!/ios/FlickClean/
!/ios/FlickClean/**
